<head>
<link rel="stylesheet" href="index.css">
<title>Chocolatería Pedro, Nacho y Vicho</title>
</head>
<body>
<div class="container">
    <header>
    <h1>Chocolatería Pedro, Nacho y Vicho</h1>
    <p>Un lugar para encontrar todos tus chocolates</p>
    </header>
</body>